# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.cover
.pytest_cache/
.mypy_cache/
.coverage*
htmlcov/

# Envs
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Logs & runtime
logs/
*.log

# OS
.DS_Store
Thumbs.db

# dotenv
.env
.env.*
